[build]
builder = "nixpacks"

[build.nixpacksPlan]
phases = ["setup", "install", "build"]

[build.nixpacksPlan.phases.setup]
nixPkgs = ["git-lfs"]

[build.nixpacksPlan.phases.install]
cmds = ["git lfs install", "git lfs pull"]

[deploy]
startCommand = "gunicorn app:app --bind 0.0.0.0:$PORT --timeout 300 --workers 1 --threads 1 --worker-class sync --preload --log-level info"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
